@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
.purple{
    color:#9900FF;
    font-family: inherit;
}
.orange{
    color:#ff9900;
    font-family: inherit;
}
#sitelogo{
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    justify-self: flex-start;
    margin-right: auto;
}
html{
    font-family: "Figtree";
}
#topbox{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 20px;
}

#topbox img{
    border-radius: 50%;
    aspect-ratio: 1;
    max-height: 80px;
    margin-left: 20px;
}

main{
    margin:40px;
}

#mystuff{
    margin-left: 20px;
    font-weight: 800;
}

#greet{
    font-weight: 800;
    font-size: 6em;
}

#quest{
    font-weight: 800;
    font-size: 3em;
}

#imggrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

#imggrid img{
    margin: 0 auto;
    aspect-ratio: 1;
    height: 400px;
}

#imggrid p{
    margin: 0 auto;
    font-size: 3em;
}

footer{
    background-color: #d9d9d9;
    color:#b7b7b7;
    margin:0;
    padding: 20px;
}

a{
    color:inherit;
    text-decoration:none;
}

body{
    margin:0;
}

#topfoot{
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}

#bottomfoot{
    font-size:1.5em;
}