@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
.purple{
    color:#9900FF;
    font-family: inherit;
}
.orange{
    color:#ff9900;
    font-family: inherit;
}
#sitelogo{
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    justify-self: flex-start;
    margin-right: auto;
}
html{
    font-family: "Figtree";
}
#topbox{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 20px;
}

#topbox img{
    border-radius: 50%;
    aspect-ratio: 1;
    max-height: 80px;
    margin-left: 20px;
}

main{
    margin:0;   
}

#expbox{
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: 8fr 6fr;
    grid-template-rows: 3fr 1fr;
    margin: 0 0 100px 0;
}

#easymessage{
    font-size: 7.5em;
    margin: 100px;
    font-weight:bolder;
    grid-row: 1;
    grid-column: 1;
}

#getstarted{
    grid-row:2;
    grid-column:1;
    border: 0;
    width:400px;
    height:100px;
    font-size: 3em;
    font-weight: bolder;
    margin: auto;
    background-color:#b7b7b7;
    color:#d9d9d9;
    border-radius: 20px;
}

#bigarrows{
    grid-column: 2;
    grid-row: 1/3;
    margin:auto auto 0 auto;
    height:90%;
}

#minilogo{
    grid-column:2;
    grid-row:2;
    align-self: flex-end;
    justify-self: right;
    font-size: 4em;
    margin-right: 100px;
    margin-bottom:50px;
    color:#b7b7b7;
    font-family: "Montserrat", sans-serif;
}

#mystuff{
    margin-left: 20px;
    font-weight: 800;
}

#optionbox{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

#optionbox i{
    margin: 0 auto;
    aspect-ratio: 1;
    font-size:400px;
    grid-row:2;
}

#simplemessage{
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
    font-size: 3em;
    margin-bottom:30px;
}

#optionbox p{
    margin: 0 auto;
    font-size: 3em;
    grid-row:3;
}

footer{
    background-color:#d9d9d9;
    color:#b7b7b7;
    margin:0;
    padding: 20px;
}

a{
    color:inherit;
    text-decoration:none;
}

body{
    margin:0;
}

#topfoot{
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}

#bottomfoot{
    font-size:1.5em;
}
